body {
  font-family: 'DM Sans', sans-serif;
}

#header {
  position: fixed;
  margin: 0;
  background-color: silver;
  align-items: center;
  justify-content: center;
}

#nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }


